<!DOCTYPE html>
<html lang="en">

<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!--
  <div class="container">
    <h1>{{user.firstName}}'s Homepage</h1>
    <p>These are my clients: {{clientsOwned}}</p>
  </div>
-->

  <div class="container">
    <h1>Anna's Homepage</h1>
    <p>My clients: Acme Inc., Lucinda's Beauty</p>
  </div>

  <div class=container>
    <h3>Access Resources:</h3>
    <form action="/listAllResources" method="post">
      <input type="radio" id="Note" name="resourceType" value="Note">
      <label for="Note">Note</label>
      <input type="radio" id="Document" name="resourceType" value="Document">
      <label for="Document">Document</label>
      <button class="btn btn-primary" type="submit">List all</button>
    </form>
    <br>

    <!--  <a class="btn btn-primary" href='/notes/'>New Note</a>  -->
    <form action="/notes/" method="get">
    </form>

</body>
</div>

</html>