<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container">
    <h1>Anna's Homepage</h1>
    <h4>My clients:  Acme Inc., Lucinda's Beauty</h4>
    <br>
    </br>
    <a class="btn btn-primary" href='/listClients/'>All Clients</a>
    <br>
    </br>
  </div>  
  <div class=container>
    <h3>Access Resources:</h3>
    <form action="/listAllResources" method="post">
      <input type="radio" id="Note" name="resourceType" value="Note">
      <label for="Note">Note   </label>
      <input type="radio" id="Document" name="resourceType" value="Document">
      <label for="Document">Document   </label>
      <button class="btn btn-primary" type="submit">List all</button>
    </form>
    <br>
</body>
</div>
</html>