<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container">
    <h1>Anna's Homepage</h1>
  <br>
    <h5>My clients: Acme Inc., Lucinda's Beauty</h5>
    <br>
    </br>
  </div>
  <div class=container>
    <h3>Access Resources:</h3>
    <br>
    <a class="btn btn-primary" href='/listClients/'>All Clients</a>
    <br></br>
    <form action="/listAllResources" method="post">
      <input type="hidden" id="Note" name="resourceType" value="Note">
      <button class="btn btn-primary" type="submit">All Notes</button>
    </form>
    <br>
    <form action="/listAllResources" method="post">
      <input type="hidden" id="Document" name="resourceType" value="Document">
      <button class="btn btn-primary" type="submit">All Documents</button>
    </form>
    <br>
</body>
</div>

</html>